<style>
    [x-cloak] { display: none !important; }
</style>

<div
    x-data="{
        open: false,
        id: '{{ modalId }}',
        confirmEvent: '{{ modalId }}-confirmed'
    }"
    x-cloak
    x-show="open"
    @display-modal.window="() => {
        if($event.detail.id === id) {
            open = true;
        }
    }"
    x-init="() => console.log(confirmEvent)"
    class="absolute w-full h-full top-0 left-0 drop-shadow-xl">
    <div class="relative w-full h-full bg-gray-900 opacity-70 transition-[background] duration-150 ease-in-out" ></div>
    <div class="absolute top-[20%] left-[40%]  w-96 h-auto p-3 bg-white mx-auto my-auto">
        <div class="w-full h-5">
            <div class="float-right" @click="open = false">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.3" stroke="currentColor" class="w-4 h-4 mt-1 cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
        <div class="w-[80%] mx-auto text-center pt-5 text-sm">{{ message ?: 'Can you confirm the execution of the selected action?' }}</div>
        <div class="mt-3 flex flex-row-reverse">
            <button class="bg-gray-400 text-center p-2 rounded-3xl px-3 text-white hover:bg-gray-500" @click="open = false">No</button>
            <button class="bg-gray-800 text-white text-center px-3 mr-2 rounded-3xl hover:bg-sky-600" @click="$dispatch(confirmEvent)">Yes</button>
        </div>
    </div>
</div>